In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load in the state redfin data
state_df = pd.read_csv("Resources/state_market_tracker.tsv000", sep="\t")

# Load in the national redfin data
national_df = pd.read_csv("Resources/us_national_market_tracker.tsv000", sep="\t")

In [3]:
# View the state_df
state_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2021-05-01,2021-05-31,30,state,4,14,f,New Mexico,NaN,New Mexico,...,0.048132,0.020414,0.007516,-0.004002,0.152349,-0.012277,0.021579,West Region,NaN,2025-03-10 14:20:36
1,2014-06-01,2014-06-30,30,state,4,30,f,South Carolina,NaN,South Carolina,...,0.008187,0.014456,-0.001399,0.014305,0.049368,0.013691,0.037601,South Region,NaN,2025-03-10 14:20:36
2,2015-02-01,2015-02-28,30,state,4,22,f,Ohio,NaN,Ohio,...,-0.027691,0.016251,NaN,-0.254451,0.038692,0.004301,0.022337,Midwest Region,NaN,2025-03-10 14:20:36
3,2020-03-01,2020-03-31,30,state,4,39,f,Louisiana,NaN,Louisiana,...,-0.000382,0.079830,0.007089,-0.012831,0.125710,0.013958,0.032423,South Region,NaN,2025-03-10 14:20:36
4,2013-12-01,2013-12-31,30,state,4,35,f,Kansas,NaN,Kansas,...,-0.010204,NaN,NaN,NaN,0.010756,0.002413,-0.001589,Midwest Region,NaN,2025-03-10 14:20:36

In [4]:
state_df.columns

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

In [5]:
# View the national_df
national_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2012-12-01,2012-12-31,30,national,11,1400,t,National,National,U.S.,...,NaN,0.063111,0.013598,NaN,0.166729,0.012919,NaN,NaN,NaN,2025-03-10 00:00:00
1,2024-02-01,2024-02-29,30,national,11,1400,f,National,National,U.S.,...,0.026889,0.142439,-0.008638,0.011789,0.398352,0.073388,0.007957,NaN,NaN,2025-03-10 14:10:05
2,2017-06-01,2017-06-30,30,national,11,1400,f,National,National,U.S.,...,0.028198,0.093398,0.001681,-0.010398,0.344475,-0.023770,0.057992,NaN,NaN,2025-03-10 14:10:05
3,2019-07-01,2019-07-31,30,national,11,1400,f,National,National,U.S.,...,-0.025402,0.163082,0.005376,0.004800,0.361386,-0.031009,-0.006250,NaN,NaN,2025-03-10 14:10:05
4,2022-04-01,2022-04-30,30,national,11,1400,f,National,National,U.S.,...,0.094206,0.075558,0.010396,0.009922,0.655048,0.011433,0.018040,NaN,NaN,2025-03-10 14:10:05

In [6]:
national_df.columns

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')