## Import dependencies and load in the `.csv` and `.TSV000` files and create the 5 DataFrames

In [1]:
# Load dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [2]:
# Load in the state Redfin data
state_df = pd.read_csv("Resources/state_market_tracker.tsv000", sep="\t")

# Load in the national Redfin data
national_df = pd.read_csv("Resources/us_national_market_tracker.tsv000", sep="\t")

# Load in the `Home Price Index` Redfin data
price_index = pd.read_csv("Resources/National_RHPI_Index.csv", encoding="utf-16", sep="\t")

# Load in the `MoM HPI Index` Redfin data
mom_index = pd.read_csv("Resources/MoM.csv", encoding="utf-16", sep="\t")

# Load in 'https://fred.stlouisfed.org/series/MORTGAGE30US'
rates_df = pd.read_csv("Resources/MORTGAGE30US.csv")

## Clean up the `state_df` and `national_df` columns to align with "Date" for all of the Redfin data sources.

In [3]:
# Rename 'period_begin' to 'Date' 
state_df.rename(columns={"period_begin": "Date"}, inplace=True)

# Reformat to MM/DD/YY
state_df["Date"] = pd.to_datetime(state_df["Date"]).dt.strftime("%-m/%-d/%Y")

# Drop non-feature columns, including 'period_end'
columns_to_drop_state = ['period_end', 'region_type_id', 'state_code', 'property_type_id', 
                         'parent_metro_region', 'parent_metro_region_metro_code', 'last_updated']
state_df.drop(columns=columns_to_drop_state, inplace=True)

In [4]:
# Sort state_df by 'period_begin'
state_df = state_df.sort_values(by="Date", ascending=True)

# View the state_df
state_df.head()

,Date,period_duration,region_type,table_id,is_seasonally_adjusted,region,city,state,property_type,median_sale_price,...,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy
19971,1/1/2012,30,state,23,f,Oklahoma,NaN,Oklahoma,Townhouse,87200,...,-0.022731,0.000000,-0.181818,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000
10500,1/1/2012,30,state,10,f,New Hampshire,NaN,New Hampshire,All Residential,184000,...,0.004329,0.146886,-0.005915,0.010146,NaN,NaN,NaN,0.007093,0.000636,-0.000240
31826,1/1/2012,30,state,42,f,Virginia,NaN,Virginia,Multi-Family (2-4 Unit),40000,...,-0.037407,0.142857,0.142857,0.017857,NaN,NaN,NaN,0.000000,0.000000,0.000000
4385,1/1/2012,30,state,47,f,Michigan,NaN,Michigan,All Residential,79900,...,0.005616,0.188435,0.008916,0.011066,NaN,NaN,NaN,0.013045,-0.000528,0.000734
28684,1/1/2012,30,state,12,f,New Jersey,NaN,New Jersey,All Residential,247000,...,-0.007615,0.054863,-0.003108,-0.007739,0.000549,0.000502,NaN,0.007897,0.001832,0.006060

In [5]:
# Check for date range of DataFrame end dates of the state_df
first_date = state_df["Date"].min()
last_date = state_df["Date"].max()

# Display results
print(f"Beginning Date: {first_date}")
print(f"End Date: {last_date}")

Beginning Date: 1/1/2012
End Date: 9/1/2024

In [6]:
# Rename 'period_begin' to 'Date' 
national_df.rename(columns={"period_begin": "Date"}, inplace=True)

# Reformat to MM/DD/YY
national_df["Date"] = pd.to_datetime(national_df["Date"]).dt.strftime("%-m/%-d/%Y")

# Drop non-feature columns, including 'period_end'
columns_to_drop_national = ['period_end', 'region_type_id', 'state_code', 'property_type_id', 
                         'parent_metro_region', 'parent_metro_region_metro_code', 'last_updated']
national_df.drop(columns=columns_to_drop_national, inplace=True)

In [7]:
# Sort national_df by 'period_begin'
national_df = national_df.sort_values(by="Date", ascending=True)

# View the national_df
national_df.head()

,Date,period_duration,region_type,table_id,is_seasonally_adjusted,region,city,state,property_type,median_sale_price,...,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy
452,1/1/2012,30,national,1400,f,National,National,U.S.,Single Units Only,159562.000000,...,0.002164,0.173126,0.002568,0.004076,0.066841,0.012491,-0.011568,0.104603,0.027196,0.029610
642,1/1/2012,30,national,1400,t,National,National,U.S.,All Residential,170767.650108,...,NaN,0.199349,NaN,NaN,0.068864,NaN,NaN,0.119988,NaN,NaN
628,1/1/2012,30,national,1400,f,National,National,U.S.,Single Family Residential,164394.000000,...,0.002501,0.176420,0.002771,0.007864,0.065524,0.012231,-0.011690,0.104181,0.026586,0.029462
623,1/1/2012,30,national,1400,f,National,National,U.S.,Townhouse,150997.000000,...,0.002163,0.171398,0.003141,0.003095,0.069660,0.012516,-0.011709,0.100036,0.025608,0.026326
796,1/1/2012,30,national,1400,f,National,National,U.S.,Condo/Co-op,134728.000000,...,-0.000079,0.152783,0.001507,-0.019809,0.073374,0.014090,-0.010111,0.107596,0.029637,0.032152

## Create the HPI Index file by merging the monthly Index SA (Seasonally Adjusted) price index with the MoM (Month over  Month) changes for both Redfins HPI and Case Shillers price index.

In [8]:
# Update the column name to match Redfin website chart
price_index.rename(columns={"Unnamed: 1": "Index SA"}, inplace=True)

# View the price_index
price_index.head()

       Date  Index SA
0  1/1/2012      59.9
1  2/1/2012      60.4
2  3/1/2012      60.8
3  4/1/2012      61.2
4  5/1/2012      61.5

In [9]:
# Reorder columns in mom_index
new_order = ["Date", "Redfin HPI MoM", "Case Shiller Index MoM"]

mom_index = mom_index[new_order]

# Verify the new column order
mom_index.head()

       Date Redfin HPI MoM  Case Shiller Index MoM
0  1/1/2012          0.00%                -0.00048
1  2/1/2012          0.00%                -0.00056
2  3/1/2012          0.00%                 0.01004
3  4/1/2012          0.72%                 0.00907
4  5/1/2012          0.62%                 0.00719

In [10]:
# Combine the HPI and MoM data
hpi_index = pd.merge(price_index, mom_index, on="Date", how="inner")
hpi_index.head()

       Date  Index SA Redfin HPI MoM  Case Shiller Index MoM
0  1/1/2012      59.9          0.00%                -0.00048
1  2/1/2012      60.4          0.00%                -0.00056
2  3/1/2012      60.8          0.00%                 0.01004
3  4/1/2012      61.2          0.72%                 0.00907
4  5/1/2012      61.5          0.62%                 0.00719

In [11]:
# Check for date range of DataFrame end dates of the hpi_index
first = hpi_index["Date"].min()
last = hpi_index["Date"].max()

# Display results
print(f"Beginning Date: {first}")
print(f"End Date: {last}")

Beginning Date: 1/1/2012
End Date: 9/1/2024

## Check the data types structures and statistics for the 4 DataFrames to confirm which datasets to merge and where.

In [12]:
# Check the shape and data breakdown for hpi_index
hpi_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    158 non-null    object
 1   Index SA                158 non-null    float64
 2   Redfin HPI MoM          158 non-null    object
 3   Case Shiller Index MoM  158 non-null    float64
dtypes: float64(2), object(2)
memory usage: 5.1+ KB

In [16]:
# Rename the columns to be in line with hpi_index 
rates_df.rename(columns={"observation_date": "Date", "MORTGAGE30US": "30_Year_%"}, inplace=True)

# Convert the 'Date' column to a datetime object and reformat it to 'MM/DD/YYYY'
rates_df["Date"] = pd.to_datetime(rates_df["Date"]).dt.strftime("%-m/%-d/%Y")

# View rates_df
rates_df.tail()

          Date  30_Year_%
682  1/30/2025       6.95
683   2/6/2025       6.89
684  2/13/2025       6.87
685  2/20/2025       6.85
686  2/27/2025       6.76

In [14]:
# Check the shape and data breakdown for rates_df
rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       687 non-null    object
 1   30_Year_%  687 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.9+ KB

In [17]:
# Check for date range of DataFrame end dates of the rates_df
print(rates_df["Date"].unique())

1/10/2013
9/9/2021
['1/5/2012' '1/12/2012' '1/19/2012' '1/26/2012' '2/2/2012' '2/9/2012'
 '2/16/2012' '2/23/2012' '3/1/2012' '3/8/2012' '3/15/2012' '3/22/2012'
 '3/29/2012' '4/5/2012' '4/12/2012' '4/19/2012' '4/26/2012' '5/3/2012'
 '5/10/2012' '5/17/2012' '5/24/2012' '5/31/2012' '6/7/2012' '6/14/2012'
 '6/21/2012' '6/28/2012' '7/5/2012' '7/12/2012' '7/19/2012' '7/26/2012'
 '8/2/2012' '8/9/2012' '8/16/2012' '8/23/2012' '8/30/2012' '9/6/2012'
 '9/13/2012' '9/20/2012' '9/27/2012' '10/4/2012' '10/11/2012' '10/18/2012'
 '10/25/2012' '11/1/2012' '11/8/2012' '11/15/2012' '11/21/2012'
 '11/29/2012' '12/6/2012' '12/13/2012' '12/20/2012' '12/27/2012'
 '1/3/2013' '1/10/2013' '1/17/2013' '1/24/2013' '1/31/2013' '2/7/2013'
 '2/14/2013' '2/21/2013' '2/28/2013' '3/7/2013' '3/14/2013' '3/21/2013'
 '3/28/2013' '4/4/2013' '4/11/2013' '4/18/2013' '4/25/2013' '5/2/2013'
 '5/9/2013' '5/16/2013' '5/23/2013' '5/30/2013' '6/6/2013' '6/13/2013'
 '6/20/2013' '6/27/2013' '7/3/2013' '7/11/2013' '7/18/2013' '7/25/2013'
 '8/1/2013' '8/8/2013' '8/15/2013' '8/22/2013' '8/29/2013' '9/5/2013'
 '9/12/2013' '9/19/2013' '9/26/2013' '10/3/2013' '10/10/2013' '10/17/2013'
 '10/24/2013' '10/31/2013' '11/7/2013' '11/14/2013' '11/21/2013'
 '11/27/2013' '12/5/2013' '12/12/2013' '12/19/2013' '12/26/2013'
 '1/2/2014' '1/9/2014' '1/16/2014' '1/23/2014' '1/30/2014' '2/6/2014'
 '2/13/2014' '2/20/2014' '2/27/2014' '3/6/2014' '3/13/2014' '3/20/2014'
 '3/27/2014' '4/3/2014' '4/10/2014' '4/17/2014' '4/24/2014' '5/1/2014'
 '5/8/2014' '5/15/2014' '5/22/2014' '5/29/2014' '6/5/2014' '6/12/2014'
 '6/19/2014' '6/26/2014' '7/3/2014' '7/10/2014' '7/17/2014' '7/24/2014'
 '7/31/2014' '8/7/2014' '8/14/2014' '8/21/2014' '8/28/2014' '9/4/2014'
 '9/11/2014' '9/18/2014' '9/25/2014' '10/2/2014' '10/9/2014' '10/16/2014'
 '10/23/2014' '10/30/2014' '11/6/2014' '11/13/2014' '11/20/2014'
 '11/26/2014' '12/4/2014' '12/11/2014' '12/18/2014' '12/24/2014'
 '12/31/2014' '1/8/2015' '1/15/2015' '1/22/2015' '1/29/2015' '2/5/2015'
 '2/12/2015' '2/19/2015' '2/26/2015' '3/5/2015' '3/12/2015' '3/19/2015'
 '3/26/2015' '4/2/2015' '4/9/2015' '4/16/2015' '4/23/2015' '4/30/2015'
 '5/7/2015' '5/14/2015' '5/21/2015' '5/28/2015' '6/4/2015' '6/11/2015'
 '6/18/2015' '6/25/2015' '7/2/2015' '7/9/2015' '7/16/2015' '7/23/2015'
 '7/30/2015' '8/6/2015' '8/13/2015' '8/20/2015' '8/27/2015' '9/3/2015'
 '9/10/2015' '9/17/2015' '9/24/2015' '10/1/2015' '10/8/2015' '10/15/2015'
 '10/22/2015' '10/29/2015' '11/5/2015' '11/12/2015' '11/19/2015'
 '11/25/2015' '12/3/2015' '12/10/2015' '12/17/2015' '12/24/2015'
 '12/31/2015' '1/7/2016' '1/14/2016' '1/21/2016' '1/28/2016' '2/4/2016'
 '2/11/2016' '2/18/2016' '2/25/2016' '3/3/2016' '3/10/2016' '3/17/2016'
 '3/24/2016' '3/31/2016' '4/7/2016' '4/14/2016' '4/21/2016' '4/28/2016'
 '5/5/2016' '5/12/2016' '5/19/2016' '5/26/2016' '6/2/2016' '6/9/2016'
 '6/16/2016' '6/23/2016' '6/30/2016' '7/7/2016' '7/14/2016' '7/21/2016'
 '7/28/2016' '8/4/2016' '8/11/2016' '8/18/2016' '8/25/2016' '9/1/2016'
 '9/8/2016' '9/15/2016' '9/22/2016' '9/29/2016' '10/6/2016' '10/13/2016'
 '10/20/2016' '10/27/2016' '11/3/2016' '11/10/2016' '11/17/2016'
 '11/23/2016' '12/1/2016' '12/8/2016' '12/15/2016' '12/22/2016'
 '12/29/2016' '1/5/2017' '1/12/2017' '1/19/2017' '1/26/2017' '2/2/2017'
 '2/9/2017' '2/16/2017' '2/23/2017' '3/2/2017' '3/9/2017' '3/16/2017'
 '3/23/2017' '3/30/2017' '4/6/2017' '4/13/2017' '4/20/2017' '4/27/2017'
 '5/4/2017' '5/11/2017' '5/18/2017' '5/25/2017' '6/1/2017' '6/8/2017'
 '6/15/2017' '6/22/2017' '6/29/2017' '7/6/2017' '7/13/2017' '7/20/2017'
 '7/27/2017' '8/3/2017' '8/10/2017' '8/17/2017' '8/24/2017' '8/31/2017'
 '9/7/2017' '9/14/2017' '9/21/2017' '9/28/2017' '10/5/2017' '10/12/2017'
 '10/19/2017' '10/26/2017' '11/2/2017' '11/9/2017' '11/16/2017'
 '11/22/2017' '11/30/2017' '12/7/2017' '12/14/2017' '12/21/2017'
 '12/28/2017' '1/4/2018' '1/11/2018' '1/18/2018' '1/25/2018' '2/1/2018'
 '2/8/2018' '2/15/2018' '2/22/2018' '3/1/2018' '3/8/2018' '3/15/2018'
 '3/22/2018' '3/29/2018' '4/5/2018' '4/12/2018' '4/19/2018' '4/26/2018'
 '5/3/2018' '5/10/2018' '5/17/2018' '5/24/2018' '5/31/2018' '6/7/2018'
 '6/14/2018' '6/21/2018' '6/28/2018' '7/5/2018' '7/12/2018' '7/19/2018'
 '7/26/2018' '8/2/2018' '8/9/2018' '8/16/2018' '8/23/2018' '8/30/2018'
 '9/6/2018' '9/13/2018' '9/20/2018' '9/27/2018' '10/4/2018' '10/11/2018'
 '10/18/2018' '10/25/2018' '11/1/2018' '11/8/2018' '11/15/2018'
 '11/21/2018' '11/29/2018' '12/6/2018' '12/13/2018' '12/20/2018'
 '12/27/2018' '1/3/2019' '1/10/2019' '1/17/2019' '1/24/2019' '1/31/2019'
 '2/7/2019' '2/14/2019' '2/21/2019' '2/28/2019' '3/7/2019' '3/14/2019'
 '3/21/2019' '3/28/2019' '4/4/2019' '4/11/2019' '4/18/2019' '4/25/2019'
 '5/2/2019' '5/9/2019' '5/16/2019' '5/23/2019' '5/30/2019' '6/6/2019'
 '6/13/2019' '6/20/2019' '6/27/2019' '7/3/2019' '7/11/2019' '7/18/2019'
 '7/25/2019' '8/1/2019' '8/8/2019' '8/15/2019' '8/22/2019' '8/29/2019'
 '9/5/2019' '9/12/2019' '9/19/2019' '9/26/2019' '10/3/2019' '10/10/2019'
 '10/17/2019' '10/24/2019' '10/31/2019' '11/7/2019' '11/14/2019'
 '11/21/2019' '11/27/2019' '12/5/2019' '12/12/2019' '12/19/2019'
 '12/26/2019' '1/2/2020' '1/9/2020' '1/16/2020' '1/23/2020' '1/30/2020'
 '2/6/2020' '2/13/2020' '2/20/2020' '2/27/2020' '3/5/2020' '3/12/2020'
 '3/19/2020' '3/26/2020' '4/2/2020' '4/9/2020' '4/16/2020' '4/23/2020'
 '4/30/2020' '5/7/2020' '5/14/2020' '5/21/2020' '5/28/2020' '6/4/2020'
 '6/11/2020' '6/18/2020' '6/25/2020' '7/2/2020' '7/9/2020' '7/16/2020'
 '7/23/2020' '7/30/2020' '8/6/2020' '8/13/2020' '8/20/2020' '8/27/2020'
 '9/3/2020' '9/10/2020' '9/17/2020' '9/24/2020' '10/1/2020' '10/8/2020'
 '10/15/2020' '10/22/2020' '10/29/2020' '11/5/2020' '11/12/2020'
 '11/19/2020' '11/25/2020' '12/3/2020' '12/10/2020' '12/17/2020'
 '12/24/2020' '12/31/2020' '1/7/2021' '1/14/2021' '1/21/2021' '1/28/2021'
 '2/4/2021' '2/11/2021' '2/18/2021' '2/25/2021' '3/4/2021' '3/11/2021'
 '3/18/2021' '3/25/2021' '4/1/2021' '4/8/2021' '4/15/2021' '4/22/2021'
 '4/29/2021' '5/6/2021' '5/13/2021' '5/20/2021' '5/27/2021' '6/3/2021'
 '6/10/2021' '6/17/2021' '6/24/2021' '7/1/2021' '7/8/2021' '7/15/2021'
 '7/22/2021' '7/29/2021' '8/5/2021' '8/12/2021' '8/19/2021' '8/26/2021'
 '9/2/2021' '9/9/2021' '9/16/2021' '9/23/2021' '9/30/2021' '10/7/2021'
 '10/14/2021' '10/21/2021' '10/28/2021' '11/4/2021' '11/10/2021'
 '11/18/2021' '11/24/2021' '12/2/2021' '12/9/2021' '12/16/2021'
 '12/23/2021' '12/30/2021' '1/6/2022' '1/13/2022' '1/20/2022' '1/27/2022'
 '2/3/2022' '2/10/2022' '2/17/2022' '2/24/2022' '3/3/2022' '3/10/2022'
 '3/17/2022' '3/24/2022' '3/31/2022' '4/7/2022' '4/14/2022' '4/21/2022'
 '4/28/2022' '5/5/2022' '5/12/2022' '5/19/2022' '5/26/2022' '6/2/2022'
 '6/9/2022' '6/16/2022' '6/23/2022' '6/30/2022' '7/7/2022' '7/14/2022'
 '7/21/2022' '7/28/2022' '8/4/2022' '8/11/2022' '8/18/2022' '8/25/2022'
 '9/1/2022' '9/8/2022' '9/15/2022' '9/22/2022' '9/29/2022' '10/6/2022'
 '10/13/2022' '10/20/2022' '10/27/2022' '11/3/2022' '11/10/2022'
 '11/17/2022' '11/23/2022' '12/1/2022' '12/8/2022' '12/15/2022'
 '12/22/2022' '12/29/2022' '1/5/2023' '1/12/2023' '1/19/2023' '1/26/2023'
 '2/2/2023' '2/9/2023' '2/16/2023' '2/23/2023' '3/2/2023' '3/9/2023'
 '3/16/2023' '3/23/2023' '3/30/2023' '4/6/2023' '4/13/2023' '4/20/2023'
 '4/27/2023' '5/4/2023' '5/11/2023' '5/18/2023' '5/25/2023' '6/1/2023'
 '6/8/2023' '6/15/2023' '6/22/2023' '6/29/2023' '7/6/2023' '7/13/2023'
 '7/20/2023' '7/27/2023' '8/3/2023' '8/10/2023' '8/17/2023' '8/24/2023'
 '8/31/2023' '9/7/2023' '9/14/2023' '9/21/2023' '9/28/2023' '10/5/2023'
 '10/12/2023' '10/19/2023' '10/26/2023' '11/2/2023' '11/9/2023'
 '11/16/2023' '11/22/2023' '11/30/2023' '12/7/2023' '12/14/2023'
 '12/21/2023' '12/28/2023' '1/4/2024' '1/11/2024' '1/18/2024' '1/25/2024'
 '2/1/2024' '2/8/2024' '2/15/2024' '2/22/2024' '2/29/2024' '3/7/2024'
 '3/14/2024' '3/21/2024' '3/28/2024' '4/4/2024' '4/11/2024' '4/18/2024'
 '4/25/2024' '5/2/2024' '5/9/2024' '5/16/2024' '5/23/2024' '5/30/2024'
 '6/6/2024' '6/13/2024' '6/20/2024' '6/27/2024' '7/3/2024' '7/11/2024'
 '7/18/2024' '7/25/2024' '8/1/2024' '8/8/2024' '8/15/2024' '8/22/2024'
 '8/29/2024' '9/5/2024' '9/12/2024' '9/19/2024' '9/26/2024' '10/3/2024'
 '10/10/2024' '10/17/2024' '10/24/2024' '10/31/2024' '11/7/2024'
 '11/14/2024' '11/21/2024' '11/27/2024' '12/5/2024' '12/12/2024'
 '12/19/2024' '12/26/2024' '1/2/2025' '1/9/2025' '1/16/2025' '1/23/2025'
 '1/30/2025' '2/6/2025' '2/13/2025' '2/20/2025' '2/27/2025']

In [19]:
# Check the stats for state_df
state_df.describe()

,period_duration,table_id,city,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,...,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy
count,39054.0,39054.000000,0.0,3.905400e+04,39054.000000,39054.000000,3.894800e+04,38886.000000,38869.000000,38937.000000,...,37628.000000,39003.000000,39003.000000,39003.000000,30865.000000,30396.000000,28703.000000,38903.000000,38835.000000,38812.000000
mean,30.0,26.044272,NaN,2.742932e+05,0.021081,0.088713,3.038891e+05,0.008675,0.066152,172.388910,...,0.002766,0.208941,0.000308,0.008471,0.163705,0.001198,0.012557,0.252904,0.001960,0.025447
std,0.0,14.661014,NaN,1.657464e+05,0.256906,0.250174,1.645740e+05,0.076484,0.084074,282.322977,...,0.025963,0.142651,0.076999,0.102753,0.087796,0.047395,0.063022,0.195527,0.078571,0.109723
min,30.0,1.000000,NaN,7.000000e+03,-0.913000,-0.941347,5.300000e+04,-0.743884,-0.725075,3.000000,...,-0.539383,0.000000,-1.000000,-1.000000,0.000009,-0.888889,-0.800000,0.000000,-1.000000,-1.000000
25%,30.0,13.000000,NaN,1.686000e+05,-0.029909,0.014501,1.999000e+05,-0.027343,0.024691,101.000000,...,-0.003721,0.114130,-0.019844,-0.023244,0.103659,-0.017844,-0.016846,0.059043,-0.024598,-0.012868
50%,30.0,26.000000,NaN,2.302000e+05,0.004885,0.063599,2.600000e+05,0.001303,0.058138,138.000000,...,0.002735,0.181818,0.000000,0.005443,0.158801,0.002350,0.005715,0.248948,0.000000,0.009057
75%,30.0,39.000000,NaN,3.294750e+05,0.044059,0.127140,3.634000e+05,0.036497,0.098160,198.000000,...,0.009572,0.283181,0.020287,0.043603,0.218351,0.021613,0.035509,0.394383,0.025743,0.064291
max,30.0,51.000000,NaN,3.275000e+06,22.152709,12.571429,4.700000e+06,3.578644,3.630526,40906.000000,...,0.650629,1.000000,1.000000,1.000000,1.000000,0.645299,0.681287,1.000000,1.000000,1.000000

In [20]:
# Check the shape and data breakdown for state_df
state_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39054 entries, 19971 to 12650
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         39054 non-null  object
 1   period_duration              39054 non-null  int64
 2   region_type                  39054 non-null  object
 3   table_id                     39054 non-null  int64
 4   is_seasonally_adjusted       39054 non-null  object
 5   region                       39054 non-null  object
 6   city                         0 non-null      float64
 7   state                        39054 non-null  object
 8   property_type                39054 non-null  object
 9   median_sale_price            39054 non-null  int64
 10  median_sale_price_mom        39054 non-null  float64
 11  median_sale_price_yoy        39054 non-null  float64
 12  median_list_price            38948 non-null  float64
 13  median_list_price_mom        38886 non-null  float64
 14  median_list_price_yoy        38869 non-null  float64
 15  median_ppsf                  38937 non-null  float64
 16  median_ppsf_mom              39037 non-null  float64
 17  median_ppsf_yoy              39041 non-null  float64
 18  median_list_ppsf             38948 non-null  float64
 19  median_list_ppsf_mom         38886 non-null  float64
 20  median_list_ppsf_yoy         38869 non-null  float64
 21  homes_sold                   39054 non-null  int64
 22  homes_sold_mom               39054 non-null  float64
 23  homes_sold_yoy               39054 non-null  float64
 24  pending_sales                38956 non-null  float64
 25  pending_sales_mom            38938 non-null  float64
 26  pending_sales_yoy            38925 non-null  float64
 27  new_listings                 38948 non-null  float64
 28  new_listings_mom             38886 non-null  float64
 29  new_listings_yoy             38869 non-null  float64
 30  inventory                    38971 non-null  float64
 31  inventory_mom                38965 non-null  float64
 32  inventory_yoy                38956 non-null  float64
 33  months_of_supply             38971 non-null  float64
 34  months_of_supply_mom         38965 non-null  float64
 35  months_of_supply_yoy         38956 non-null  float64
 36  median_dom                   39031 non-null  float64
 37  median_dom_mom               39025 non-null  float64
 38  median_dom_yoy               39025 non-null  float64
 39  avg_sale_to_list             37799 non-null  float64
 40  avg_sale_to_list_mom         37688 non-null  float64
 41  avg_sale_to_list_yoy         37628 non-null  float64
 42  sold_above_list              39003 non-null  float64
 43  sold_above_list_mom          39003 non-null  float64
 44  sold_above_list_yoy          39003 non-null  float64
 45  price_drops                  30865 non-null  float64
 46  price_drops_mom              30396 non-null  float64
 47  price_drops_yoy              28703 non-null  float64
 48  off_market_in_two_weeks      38903 non-null  float64
 49  off_market_in_two_weeks_mom  38835 non-null  float64
 50  off_market_in_two_weeks_yoy  38812 non-null  float64
dtypes: float64(41), int64(4), object(6)
memory usage: 15.5+ MB

In [21]:
# Check the stats for national_df
national_df.describe()

,period_duration,table_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,...,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy
count,1738.0,1738.0,1738.000000,1733.000000,1678.000000,1738.000000,1733.000000,1678.000000,1738.000000,1733.000000,...,1678.000000,1738.000000,1733.000000,1678.000000,1738.000000,1733.000000,1678.000000,1738.000000,1733.000000,1678.000000
mean,30.0,1400.0,286493.388234,0.006178,0.074891,298560.925160,0.006763,0.071123,170.516200,0.006023,...,0.002367,0.268276,0.000483,0.008212,0.111060,0.000774,0.007476,0.331898,0.001665,0.019804
std,0.0,0.0,80656.713597,0.021647,0.050004,81834.461136,0.031055,0.041014,52.816614,0.019261,...,0.010424,0.088036,0.018612,0.079706,0.037923,0.018440,0.030579,0.126744,0.030051,0.073017
min,30.0,1400.0,130975.000000,-0.143796,-0.071733,148511.000000,-0.110785,-0.028655,67.000000,-0.122746,...,-0.038200,0.140760,-0.099338,-0.282408,0.037674,-0.200867,-0.216351,0.100036,-0.116967,-0.258460
25%,30.0,1400.0,221433.250000,-0.004585,0.045457,233638.061937,-0.008107,0.041776,129.019677,-0.003144,...,-0.001758,0.210687,-0.008016,-0.024453,0.082755,-0.003842,-0.010829,0.228934,-0.014392,-0.006290
50%,30.0,1400.0,270385.673069,0.005583,0.066117,283509.226120,0.004287,0.063884,157.000000,0.005065,...,0.002871,0.239732,-0.000202,0.013924,0.109658,0.001582,0.003528,0.334078,-0.000737,0.028485
75%,30.0,1400.0,352252.215293,0.014934,0.100633,362129.924387,0.014243,0.096644,214.830888,0.014720,...,0.005892,0.294808,0.008204,0.031742,0.136298,0.007702,0.024695,0.407688,0.014049,0.054311
max,30.0,1400.0,480069.000000,0.119120,0.291577,550229.000000,0.177777,0.228002,319.653928,0.152847,...,0.042060,0.602377,0.072822,0.312275,0.322287,0.201428,0.199815,0.688481,0.101049,0.281640

In [22]:
# Check the shape and data breakdown for national_df
national_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1738 entries, 452 to 1403
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1738 non-null   object
 1   period_duration              1738 non-null   int64
 2   region_type                  1738 non-null   object
 3   table_id                     1738 non-null   int64
 4   is_seasonally_adjusted       1738 non-null   object
 5   region                       1738 non-null   object
 6   city                         1738 non-null   object
 7   state                        1738 non-null   object
 8   property_type                1738 non-null   object
 9   median_sale_price            1738 non-null   float64
 10  median_sale_price_mom        1733 non-null   float64
 11  median_sale_price_yoy        1678 non-null   float64
 12  median_list_price            1738 non-null   float64
 13  median_list_price_mom        1733 non-null   float64
 14  median_list_price_yoy        1678 non-null   float64
 15  median_ppsf                  1738 non-null   float64
 16  median_ppsf_mom              1733 non-null   float64
 17  median_ppsf_yoy              1678 non-null   float64
 18  median_list_ppsf             1738 non-null   float64
 19  median_list_ppsf_mom         1733 non-null   float64
 20  median_list_ppsf_yoy         1678 non-null   float64
 21  homes_sold                   1738 non-null   float64
 22  homes_sold_mom               1733 non-null   float64
 23  homes_sold_yoy               1678 non-null   float64
 24  pending_sales                1738 non-null   float64
 25  pending_sales_mom            1733 non-null   float64
 26  pending_sales_yoy            1678 non-null   float64
 27  new_listings                 1738 non-null   float64
 28  new_listings_mom             1733 non-null   float64
 29  new_listings_yoy             1678 non-null   float64
 30  inventory                    1738 non-null   float64
 31  inventory_mom                1733 non-null   float64
 32  inventory_yoy                1678 non-null   float64
 33  months_of_supply             1738 non-null   float64
 34  months_of_supply_mom         1733 non-null   float64
 35  months_of_supply_yoy         1678 non-null   float64
 36  median_dom                   1738 non-null   float64
 37  median_dom_mom               1733 non-null   float64
 38  median_dom_yoy               1678 non-null   float64
 39  avg_sale_to_list             1738 non-null   float64
 40  avg_sale_to_list_mom         1733 non-null   float64
 41  avg_sale_to_list_yoy         1678 non-null   float64
 42  sold_above_list              1738 non-null   float64
 43  sold_above_list_mom          1733 non-null   float64
 44  sold_above_list_yoy          1678 non-null   float64
 45  price_drops                  1738 non-null   float64
 46  price_drops_mom              1733 non-null   float64
 47  price_drops_yoy              1678 non-null   float64
 48  off_market_in_two_weeks      1738 non-null   float64
 49  off_market_in_two_weeks_mom  1733 non-null   float64
 50  off_market_in_two_weeks_yoy  1678 non-null   float64
dtypes: float64(42), int64(2), object(7)
memory usage: 706.1+ KB

## Create copies of the 4 DataFrames, setting aside the originals for comparison and plotting. Merge the copied versions `state_df_copy` and `hpi_index_copy`.

In [23]:
# Create copies of the DataFrames
state_df_copy = state_df.copy()
national_df_copy = national_df.copy()
hpi_index_copy = hpi_index.copy()
rates_df_copy = rates_df.copy()

In [24]:
# Combine state and hpi DataFrames
combined_df = pd.merge(state_df_copy, hpi_index_copy, on="Date", how="inner")

# Reorder columns in combined_df
column_order = ["Date"] + hpi_index_copy.columns.tolist()[1:] + state_df_copy.columns.tolist()[1:]
combined_df = combined_df[column_order]

# Verify the results
combined_df.head()

,Date,Index SA,Redfin HPI MoM,Case Shiller Index MoM,period_duration,region_type,table_id,is_seasonally_adjusted,region,city,...,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy
0,1/1/2012,59.9,0.00%,-0.00048,30,state,23,f,Oklahoma,NaN,...,-0.022731,0.000000,-0.181818,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000
1,1/1/2012,59.9,0.00%,-0.00048,30,state,10,f,New Hampshire,NaN,...,0.004329,0.146886,-0.005915,0.010146,NaN,NaN,NaN,0.007093,0.000636,-0.000240
2,1/1/2012,59.9,0.00%,-0.00048,30,state,42,f,Virginia,NaN,...,-0.037407,0.142857,0.142857,0.017857,NaN,NaN,NaN,0.000000,0.000000,0.000000
3,1/1/2012,59.9,0.00%,-0.00048,30,state,47,f,Michigan,NaN,...,0.005616,0.188435,0.008916,0.011066,NaN,NaN,NaN,0.013045,-0.000528,0.000734
4,1/1/2012,59.9,0.00%,-0.00048,30,state,12,f,New Jersey,NaN,...,-0.007615,0.054863,-0.003108,-0.007739,0.000549,0.000502,NaN,0.007897,0.001832,0.006060

## Update the `rates_df` date and average the the interest rates. Reason is the start date would require back filling as we have 1/1/2012 (monthly) `combined_df`and 1/5/2012 as our start date for `rates_df`(off weekly). This adds in the interest rate feature to our combined data set. 

**Example, the first month is (3.91 + 3.89 + 3.88 + 3.98) / 4 = 3.915.**

In [25]:
# Convert 'Date' in rates_df_copy to datetime for easier processing
rates_df_copy["Date"] = pd.to_datetime(rates_df_copy["Date"])

# Extract year and month from weekly dates (Makes it a Year-Month format)
rates_df_copy["Month"] = rates_df_copy["Date"].dt.to_period("M")  

# Aggregate by month (Average 30-Year rate for each month)
rates_monthly = rates_df_copy.groupby("Month").agg({"30_Year_%": "mean"}).reset_index()

# Confirm data types
rates_monthly.dtypes

Month        period[M]
30_Year_%      float64
dtype: object

In [26]:
rates_monthly.head()

     Month  30_Year_%
0  2012-01      3.915
1  2012-02      3.890
2  2012-03      3.954
3  2012-04      3.910
4  2012-05      3.798

In [27]:
rates_monthly.dtypes

Month        period[M]
30_Year_%      float64
dtype: object

In [29]:
# Convert 'Month' (period[M]) to datetime format
rates_monthly["Date"] = rates_monthly["Month"].dt.to_timestamp()

# Format 'Date' to MM/DD/YYYY
rates_monthly["Date"] = rates_monthly["Date"].dt.strftime("%-m/%-d/%Y")

In [30]:
# Re-confirm the rates_monthly data types 
rates_monthly.dtypes

Month        period[M]
30_Year_%      float64
Date            object
dtype: object

In [32]:
# Drop the 'Month' column
rates_monthly.drop(columns=["Month"], inplace=True)

# Verify the results
rates_monthly.head()

   30_Year_%      Date
0      3.915  1/1/2012
1      3.890  2/1/2012
2      3.954  3/1/2012
3      3.910  4/1/2012
4      3.798  5/1/2012

In [33]:
# Merge with combined_df
complete_df = pd.merge(combined_df, rates_monthly, on="Date", how="inner")

# Verify the result
complete_df.head()

,Date,Index SA,Redfin HPI MoM,Case Shiller Index MoM,period_duration,region_type,table_id,is_seasonally_adjusted,region,city,...,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,30_Year_%
0,1/1/2012,59.9,0.00%,-0.00048,30,state,23,f,Oklahoma,NaN,...,0.000000,-0.181818,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,3.915
1,1/1/2012,59.9,0.00%,-0.00048,30,state,10,f,New Hampshire,NaN,...,0.146886,-0.005915,0.010146,NaN,NaN,NaN,0.007093,0.000636,-0.000240,3.915
2,1/1/2012,59.9,0.00%,-0.00048,30,state,42,f,Virginia,NaN,...,0.142857,0.142857,0.017857,NaN,NaN,NaN,0.000000,0.000000,0.000000,3.915
3,1/1/2012,59.9,0.00%,-0.00048,30,state,47,f,Michigan,NaN,...,0.188435,0.008916,0.011066,NaN,NaN,NaN,0.013045,-0.000528,0.000734,3.915
4,1/1/2012,59.9,0.00%,-0.00048,30,state,12,f,New Jersey,NaN,...,0.054863,-0.003108,-0.007739,0.000549,0.000502,NaN,0.007897,0.001832,0.006060,3.915

In [34]:
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39054 entries, 0 to 39053
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         39054 non-null  object
 1   Index SA                     39054 non-null  float64
 2   Redfin HPI MoM               39054 non-null  object
 3   Case Shiller Index MoM       39054 non-null  float64
 4   period_duration              39054 non-null  int64
 5   region_type                  39054 non-null  object
 6   table_id                     39054 non-null  int64
 7   is_seasonally_adjusted       39054 non-null  object
 8   region                       39054 non-null  object
 9   city                         0 non-null      float64
 10  state                        39054 non-null  object
 11  property_type                39054 non-null  object
 12  median_sale_price            39054 non-null  int64
 13  median_sale_price_mom        39054 non-null  float64
 14  median_sale_price_yoy        39054 non-null  float64
 15  median_list_price            38948 non-null  float64
 16  median_list_price_mom        38886 non-null  float64
 17  median_list_price_yoy        38869 non-null  float64
 18  median_ppsf                  38937 non-null  float64
 19  median_ppsf_mom              39037 non-null  float64
 20  median_ppsf_yoy              39041 non-null  float64
 21  median_list_ppsf             38948 non-null  float64
 22  median_list_ppsf_mom         38886 non-null  float64
 23  median_list_ppsf_yoy         38869 non-null  float64
 24  homes_sold                   39054 non-null  int64
 25  homes_sold_mom               39054 non-null  float64
 26  homes_sold_yoy               39054 non-null  float64
 27  pending_sales                38956 non-null  float64
 28  pending_sales_mom            38938 non-null  float64
 29  pending_sales_yoy            38925 non-null  float64
 30  new_listings                 38948 non-null  float64
 31  new_listings_mom             38886 non-null  float64
 32  new_listings_yoy             38869 non-null  float64
 33  inventory                    38971 non-null  float64
 34  inventory_mom                38965 non-null  float64
 35  inventory_yoy                38956 non-null  float64
 36  months_of_supply             38971 non-null  float64
 37  months_of_supply_mom         38965 non-null  float64
 38  months_of_supply_yoy         38956 non-null  float64
 39  median_dom                   39031 non-null  float64
 40  median_dom_mom               39025 non-null  float64
 41  median_dom_yoy               39025 non-null  float64
 42  avg_sale_to_list             37799 non-null  float64
 43  avg_sale_to_list_mom         37688 non-null  float64
 44  avg_sale_to_list_yoy         37628 non-null  float64
 45  sold_above_list              39003 non-null  float64
 46  sold_above_list_mom          39003 non-null  float64
 47  sold_above_list_yoy          39003 non-null  float64
 48  price_drops                  30865 non-null  float64
 49  price_drops_mom              30396 non-null  float64
 50  price_drops_yoy              28703 non-null  float64
 51  off_market_in_two_weeks      38903 non-null  float64
 52  off_market_in_two_weeks_mom  38835 non-null  float64
 53  off_market_in_two_weeks_yoy  38812 non-null  float64
 54  30_Year_%                    39054 non-null  float64
dtypes: float64(44), int64(4), object(7)
memory usage: 16.4+ MB

In [35]:
# Find the minimum and maximum dates
min_date = complete_df["Date"].min()
max_date = complete_df["Date"].max()

# Print the results
print(f"Minimum Date: {min_date}")
print(f"Maximum Date: {max_date}")

Minimum Date: 1/1/2012
Maximum Date: 9/1/2024

## Address all rows with missing values > 0.50%.

In [38]:
# Remove 'city' column as no values exist
complete_df.drop(columns=["city"], inplace=True)

# Update the Missing Price Drops with 0 as reference no price drops during that month from that region
complete_df["price_drops"].fillna(0, inplace=True)
complete_df["price_drops_mom"].fillna(0, inplace=True)
complete_df["price_drops_yoy"].fillna(0, inplace=True)

# Create new columns to flag instance where price drops are blanks - creates a feauture 
complete_df["price_drops_is_blank"] = complete_df["price_drops"] == 0
complete_df["price_drops_mom_is_blank"] = complete_df["price_drops_mom"] == 0
complete_df["price_drops_yoy_is_blank"] = complete_df["price_drops_yoy"] == 0

# Use Mean for missing row values for the Average List to Sale Prices 
complete_df["avg_sale_to_list"].fillna(complete_df["avg_sale_to_list"].mean(), inplace=True)
complete_df["avg_sale_to_list_mom"].fillna(complete_df["avg_sale_to_list_mom"].mean(), inplace=True)
complete_df["avg_sale_to_list_yoy"].fillna(complete_df["avg_sale_to_list_yoy"].mean(), inplace=True)

In [41]:
# Fill missing values with 0 for the specified columns
complete_df["off_market_in_two_weeks"].fillna(0, inplace=True)
complete_df["off_market_in_two_weeks_mom"].fillna(0, inplace=True)
complete_df["off_market_in_two_weeks_yoy"].fillna(0, inplace=True)

# Confirm the changes
print(complete_df[["off_market_in_two_weeks", "off_market_in_two_weeks_mom", "off_market_in_two_weeks_yoy"]].isnull().sum())

off_market_in_two_weeks        0
off_market_in_two_weeks_mom    0
off_market_in_two_weeks_yoy    0
dtype: int64

In [43]:
# Fill missing values in median-related columns with their column averages
columns_to_fill = [
    "median_list_price", "median_list_price_mom", "median_list_price_yoy",
    "median_ppsf", "median_ppsf_mom", "median_ppsf_yoy",
    "median_list_ppsf", "median_list_ppsf_mom", "median_list_ppsf_yoy"
]

# Apply mean imputation
for column in columns_to_fill:
    complete_df[column].fillna(complete_df[column].mean(), inplace=True)

# Verify the changes
print(complete_df[columns_to_fill].isnull().sum())

median_list_price        0
median_list_price_mom    0
median_list_price_yoy    0
median_ppsf              0
median_ppsf_mom          0
median_ppsf_yoy          0
median_list_ppsf         0
median_list_ppsf_mom     0
median_list_ppsf_yoy     0
dtype: int64

In [44]:
# Determine the percentage of null values present
missing_percent = complete_df.isnull().mean() * 100
print(missing_percent)

Date                           0.000000
Index SA                       0.000000
Redfin HPI MoM                 0.000000
Case Shiller Index MoM         0.000000
period_duration                0.000000
region_type                    0.000000
table_id                       0.000000
is_seasonally_adjusted         0.000000
region                         0.000000
state                          0.000000
property_type                  0.000000
median_sale_price              0.000000
median_sale_price_mom          0.000000
median_sale_price_yoy          0.000000
median_list_price              0.000000
median_list_price_mom          0.000000
median_list_price_yoy          0.000000
median_ppsf                    0.000000
median_ppsf_mom                0.000000
median_ppsf_yoy                0.000000
median_list_ppsf               0.000000
median_list_ppsf_mom           0.000000
median_list_ppsf_yoy           0.000000
homes_sold                     0.000000
homes_sold_mom                 0.000000
homes_sold_yoy                 0.000000
pending_sales                  0.250935
pending_sales_mom              0.297025
pending_sales_yoy              0.330312
new_listings                   0.271419
new_listings_mom               0.430174
new_listings_yoy               0.473703
inventory                      0.212526
inventory_mom                  0.227890
inventory_yoy                  0.250935
months_of_supply               0.212526
months_of_supply_mom           0.227890
months_of_supply_yoy           0.250935
median_dom                     0.058893
median_dom_mom                 0.074256
median_dom_yoy                 0.074256
avg_sale_to_list               0.000000
avg_sale_to_list_mom           0.000000
avg_sale_to_list_yoy           0.000000
sold_above_list                0.130588
sold_above_list_mom            0.130588
sold_above_list_yoy            0.130588
price_drops                    0.000000
price_drops_mom                0.000000
price_drops_yoy                0.000000
off_market_in_two_weeks        0.000000
off_market_in_two_weeks_mom    0.000000
off_market_in_two_weeks_yoy    0.000000
30_Year_%                      0.000000
price_drops_is_blank           0.000000
price_drops_mom_is_blank       0.000000
price_drops_yoy_is_blank       0.000000
dtype: float64

In [45]:
# Save the DataFrame as a CSV file
complete_df.to_csv("Resources/complete_data.csv", index=False)

# Print confirmation
print("CSV file has been saved successfully as 'complete_data.csv'")

CSV file has been saved successfully as 'complete_data.csv'